spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/securecollab
    username: postgres
    password: password

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  data:
    redis:
      host: localhost
      port: 6379

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: "{baseUrl}/login/oauth2/code/google"
            scope:
              - email
              - profile
              - openid
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub

springdoc:
  swagger-ui:
    path: /swagger-ui.html

app:
  upload-dir: uploads

security:
  jwt:
    secret: ${SECURITY_JWT_SECRET}
    access-expiration-ms: ${SECURITY_JWT_ACCESS_EXPIRATION_MS}
    refresh-expiration-ms: ${SECURITY_JWT_REFRESH_EXPIRATION_MS}

logging:
  level:
    root: INFO
    com.dein.paket: DEBUG
  file:
    name: logs/securecollab.log
  pattern:
    file: "%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"
